<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="EmpDepServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="EmpDepServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44376/EmpDepService.asmx"
                binding="basicHttpBinding" bindingConfiguration="EmpDepServiceSoap"
                contract="EmpDepService.EmpDepServiceSoap" name="EmpDepServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>